/**
 * @file
 * Styles for system messages.
 */

.messages {
  padding: 20px;
  color: inherit;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
[dir="rtl"] .messages {
  background-position: right 10px top 17px;
  text-align: right;
}
.messages + .messages {
  margin-top: 1.538em;
}
.messages .messages__content {
  background: no-repeat 0 center;
}
.messages--status {
  background-color: #e6eee0;
}
.messages--status .messages__content {
  background-image: url(/core/misc/icons/73b355/check.svg);
}
.messages--warning {
  background-color: #fcf1d4;
}
.messages--warning .messages__content {
  background-image: url(/core/misc/icons/e29700/warning.svg);
}
.messages--error {
  background-color: #f9e6eb;
}
.messages--error .messages__content {
  background-image: url(/core/misc/icons/e32700/error.svg);
}
.messages--error .error {
  color: inherit;
}
.messages a {
  color: #cc2a00;
}
.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messages__item {
  margin-left: 24px;
}
.messages__item + .messages__item {
  margin-top: 0.769em;
}
