/**
 * @file
 * This file is used to style the main menu.
 */

.menu-footer {
  padding: 0;
}

.menu-footer__title {
  font-size: 1.5rem;
  font-weight: normal;
}

.menu-footer__item {
  list-style: none;
}

.menu-footer a {
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.menu-footer a:active,
.menu-footer a:focus,
.menu-footer a:hover {
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (min-width: 60rem) {
  .menu-footer__title {
    padding-top: 2rem;
  }

  .menu-footer__wrapper {
    flex-basis: 25%;
  }
}
